<launch>

    <node name="image_publisher_l"   pkg="stereo_vision"      type="image_publisher" args="l"                            />
    <node name="image_publisher_r"   pkg="stereo_vision"      type="image_publisher" args="r"                            />

    <node name="sync_delay"          pkg="stereo_vision"      type="stereo_sync_delay"                                          />

    <node name="image_viewer"        pkg="stereo_vision"      type="stereo_viewer" />

</launch>
